.pop-up {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(158, 158, 158, 0.3);
  font-family: Arial, sans-serif;
  max-width: 300px;
  line-height: 1rem;


  button {
    background: rgb(255, 255, 92);
    border: none;
    text-align: center;
    margin: 10px 5px 5px 20px;
    cursor: pointer;
    border-radius: 7px;
  }
  button:hover {
    background: rgb(255, 255, 56);
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: .3rem;
  }
}
