.header-container{
    width: 100%;
    height: 10vh;
    background: linear-gradient(5deg,rgb(122, 122, 122), rgb(69, 69, 69)
     ) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 218, 218);
}
.logo-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 7vh;
    width: 50%;
}
.logo-ph{
    width: 180px;
}