.notification-delete {
  background: rgb(251, 112, 93);
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  max-width: 600px;
}

.project-view-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 650px;
  /* background: lightpink; */
  place-content: center;
  max-width: 1280px;
  width: 100%;
  padding: 10px;
  margin: 50px 0;
}
.project-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: lightcoral; */
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.project-task-view-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  /* background: rgb(144, 222, 238); */
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.task-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(224, 12, 44); */
  width: 85%;
  height: 20%;

  margin-top: 30px;
}

.task-form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-color: rgb(246, 246, 246);
  padding: 10px;

  width: 100%;
  height: 75%;

  border-radius: 7px;
  background: lightgray;
  gap: 15px;
}

.taskform input[type="submit"] {
  background-color: rgb(251, 233, 34);
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(94, 94, 94);
}

.taskform input {
  width: 85%;
  padding: 10px;
  border: 1px solid #ddd;
  /* padding: 10px 30px 10px 10px; */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.taskform input:focus {
  border-color: #f8ff33;
  outline: none;
}

.project-info-container {
  background: rgb(227, 227, 227);
  width: 85%;
  height: 250px;
  /* overflow-y: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.project-description-container {
  height: 80%;
  width: 90%;
  /* background: lightpink; */
  font-size: 1rem;
  overflow-y: auto;
  max-height: 200px;
}
.project-description-container p {
  margin-bottom: 10px;
}

.project-identify-container {
  display: flex;
  text-align: start;
  width: 85%;
  margin-bottom: 20px;
  gap: 3px;
  flex-direction: column;
}
.project-identify-container button {
  background: rgb(255, 100, 100);
  margin-bottom: 15px;
  height: 25px;
  width: 40%;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.project-info-container {
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .project-view-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px;
    place-content: center;
    /* background-color: #f8ff33; */
  }
  .notification-delete{
    font-size: 0.9rem;
  }
}
.active-inactive-container {
  width: 150px;
  display: flex;
  gap: 10px;
}

.project-active {
  background: lightgreen;
  width: 80px;
  height: 20px;
  border-radius: 5px;
  display: block;
  text-align: center;
padding-top: 2px;
}
.project-inactive {
  background: rgb(255, 119, 98);
  width: 80px;
  height: 20px;
  border-radius: 5px;
  display: block;
  text-align: center;
  align-content: space-around;
  padding-top: 2px;

}
.pending{
  background: rgb(255, 119, 98);
  width: 80px;
  height: 20px;
  border-radius: 5px;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, color 0.2s ease;
}
.complete-text{
  color: rgb(195, 195, 195);
}
.completed{
  background: rgb(108, 221, 108);
  width: 80px;
  height: 20px;
  border-radius: 5px;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  transition: background 0.2s ease, color 0.2s ease;

}
.project-task-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 6px;
  width: 100%;
  padding: 25px 20px 25px 20px;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  background: rgb(227, 227, 227);
  border-radius: 10px;
  gap: 20px;
  border-bottom: 1px rgb(216, 216, 216) solid;
}

.tasks-container p {
  margin-bottom: 5px;
  /* background: lightgreen; */
}

.task-view{
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: 10px;
  align-items: center;
  background:rgb(217, 217, 217);
  place-content: center;
  padding: 10px 0px 0 12px;
  min-width: 100%;
  height: max-content;
  border-radius: 5px;
}
.task-view footer{
  display: flex;
  align-items: center;
 
}
.task-view{
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: 10px;
  align-items: center;
  background:rgb(217, 217, 217);
  place-content: center;
  padding: 10px 7px 0 12px;
  min-width: 100%;
  height: max-content;
  border-radius: 5px;
}

.switch-container{
  border: none;
  display: flex;
  color: #f9f9f9;
  width: 90px;
  height: 26px;
  justify-content: center;
  align-items: flex-start;
  background: none;
  cursor: pointer;
}
.trash-container{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: rgb(217, 217, 217);
  cursor: pointer;
}
.trash-icon{
  width: 70%;
  border: none;
  padding: 0 0 6px 0;

}
@media(max-width:864px){
  .task-view{
    display: grid;
    /* background: lightblue; */
    grid-template-columns: 90%;
    grid-template-rows: auto;
    min-width: 90%;
  }
  .task-view footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}